<a href="https://colab.research.google.com/github/jeongyeon8425/colab/blob/main/Lession2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2장 예제

In [1]:
a = 100
b= 200
c = a + b

print(a, "+", b, "=", c)

100 + 200 = 300

In [3]:
num1 = 500
num2 = 200
result = num1 - num2
print(num1, "-",  num2, "=", result)

500 - 200 = 300

In [5]:
num1 = 8
num2 = 17
result = num1 * num2
print(num1, "X", num2, "=", result)

8 X 17 = 136

In [6]:
num1 = 8
num2 = 17
result = num1 / num2
print(num1, "/", num2, "=", result)

8 / 17 = 0.47058823529411764

In [7]:
num1, num2 = 4, 2
result = num1 % num2
print(num1, "%", num2, "=", result)

4 % 2 = 0

몫을 구하는 연산자://

In [8]:
num1, num2 = 4, 2
result = num1 % num2
print(num1, "//", num2, "=", result)

4 // 2 = 0

문자열 연산자 : +, *

In [10]:
str1 = "안산공고"
str2 = "컴퓨터과"
result = str1 + str2
print(str1, "+", str2, "=", result)

안산공고 + 컴퓨터과 = 안산공고컴퓨터과

In [11]:
str1 = "안산공고"
result = str1 * 3
print(str1, "*", 3, "=", result)

안산공고 * 3 = 안산공고안산공고안산공고

2장 형성평가 1

In [14]:
a = 100
b = 200
c = a + b
print(a, "+", b, "=", c)
num1 = 100
num2 = 200
result = num1 - num2
print(num1, "-", num2, "=", result)
num1 = 100
num2 = 200
result = num1 * num2
print(num1, "*", num2, "=", result)
num1- 100
num2= 200
result = num1 / num2
print(num1, "/", num2, "=", result)

100 + 200 = 300
100 - 200 = -100
100 * 200 = 20000
100 / 200 = 0.5

input()함수의 사용 예

In [18]:
num1 = int(input("첫번째 숫자 입력==>"))
num2 = int(input("두번째 숫자 입력==>"))
result = num1 + num2
print(num1, "+", num2, "=", result)

첫번째 숫자 입력==>100
두번째 숫자 입력==>20
100 + 20 = 120

In [20]:
num1 = input("이름==>")
num2 = input("전화번호==>")
result = num1 + num2
print(num1, "+", num2, "=", result)

이름==>난처음
전화번호==>010-1234-1234
난처음 + 010-1234-1234 = 난처음010-1234-1234

2장 형성평가 2

In [26]:
print("## 택배를 보내기 위한 정보를 입력하세요 ##")
personName = input("받는 사람 : ")
personAddr = input("주소 : ")
weight = int(input("무게(g) : "))

print("** 받는 사람 ==>", personName)
print("** 주소 =>", personAddr)

print("** 배송비 ==>", weight * 5, "원")

## 택배를 보내기 위한 정보를 입력하세요 ##
받는 사람 : 정여니
주소 : 안공
무게(g) : 721
** 받는 사람 ==> 정여니
** 주소 => 안공
** 배송비 ==> 3605 원



형성평가 3

In [30]:
num1 = 100
num2 = 10

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
result5 = num1 % num2
result6 = num1 ** num2

print(num1, "+", num2, "=", result1)
print(num1, "-", num2, "=", result2)
print(num1, "*", num2, "=", result3)
print(num1, "/", num2, "=", result4)
print(num1, "%", num2, "=", result5)
print(num1, "**", num2, "=", result6)

100 + 10 = 110
100 - 10 = 90
100 * 10 = 1000
100 / 10 = 10.0
100 % 10 = 0
100 ** 10 = 100000000000000000000

In [37]:
#!pip3 install ColabTurtle
import ColabTurtle.Turtle as turtle


turtle.initializeTurtle()
turtle.forward(50)
turtle.left(90)
turtle.forward(50)