<a href="https://colab.research.google.com/github/jeongyeon8425/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문

In [ ]:
for i in range(3) :
  print("난생처음 파이썬은 재미있습니다^_^")

난새처음 파이썬은 재미있습니다^_^
난새처음 파이썬은 재미있습니다^_^
난새처음 파이썬은 재미있습니다^_^

In [ ]:
myList = ["짜장면", "김밥", "라면"]
for i in myList :
  print(i)

짜장면
김밥
라면

In [ ]:
for i in range(2, 8, 2):
  print(i)

2
4
6

In [ ]:
sum= 0
for i in range(1, 100, 2) :
  sum = sum + i

sum = 1-3+5-7+9 ..+99

In [ ]:
flag = 1
sum = 0
for i in range(1, 100, 2):
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else:
    sum = sum - i
    flag = flag * - 1
print(sum)

-50

In [ ]:
fact = 1 
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact * i

print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : ", fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :  120

합계 구하기

In [ ]:
hap = 0

for i in range(1, 11, 1):
  hap = hap + i

print("1에서 10까지 합 : ", hap)

1에서 10까지 합 :  55

중첩 for문

In [ ]:
for i in range(3) :
    for k in range(2) :
      print("난생처음은 쉽습니다.^^(1값 :", i,",k값:",k,")")

난생처음은 쉽습니다.^^(1값 : 0 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 0 ,k값: 1 )
난생처음은 쉽습니다.^^(1값 : 1 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 1 ,k값: 1 )
난생처음은 쉽습니다.^^(1값 : 2 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 2 ,k값: 1 )

In [ ]:
for i in range(2) :
  for k in range(3) :
    print("중첩 for문입니다")

중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다

구구단 계산기 만들기

In [3]:
i = 0
j = 0

for i in range(2,10) :
  for j in range(1, 10) :
    print(i, "X", j, "=", i * j)
  print("")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

입력한 두 숫자의 합계를 반복 계산 (실수 입력 가능)

In [6]:
while True :
  num1 = input("숫자1 입력 => ")
  if num1 == "0" : break
  num2 = input("숫자2 입력 => ")
  result = float(num1) + float(num2)
  print(num1, "+", num2, "=", result)

숫자1 입력 => 0

주사위 게임( 몇 번을 던져야 같은 숫자가 나오냐~? )

In [12]:
import random
count = 0
while True :
  r1 = random.randint(1,6)
  r2 = random.randint(1,6)
  r3 = random.randint(1,6)
  count = count + 1
  if r1 == r2 == r3 : break 
print("3개의 주사위는 모두", r1, "나왔다.")
print("같은 숫자가 나오기까지", count, "번 던졌습니다.")

3개의 주사위는 모두 1 나왔다.
같은 숫자가 나오기까지 5 번 던졌습니다.

컴퓨터가 생각한 숫자 맞히기 게임

In [14]:
import random

computer, user = 0,0

for i in range(1,11) :
  couputer = random.randint(1, 5)
  print("게임", i, "회", end='')
  user = int(input("컴퓨터가 생각한 숫자는 ? "))

  if computer == user :
    print("맞혔네요. 축하합니다~!!")
    break
  else :
    print("으앙 아까워요", computer, "였는데요ㅠ 다시 해보세요!")
    continue
print("게임을 마칩니다")

게임 1 회컴퓨터가 생각한 숫자는 ? 4
으앙 아까워요 0 였는데요ㅠ 다시 해보세요!
게임 2 회컴퓨터가 생각한 숫자는 ? 0
맞혔네요. 축하합니다~!!
게임을 마칩니다

야구게임

In [ ]:
import random
com_list = [1,2,3,4,5,6,7,8,9]
com_num, usr_num = [], []

def usr_fun() :
  usr = input("3개의 숫자를 입력(1~9까지) ==> ")
  for i in range(0,5,2) :
    usr_num.append(int(usr[i]))

#컴퓨터 - 3개의 중복되지 않는 숫자 만들기
for i in range(3) :
  r = random.choice(com_list)
  com_list.remove(r)
  com_num.append(r)

print("**야구 게임 **")
 #스트라이크 및 볼 판정-----------------------------
strike, ball = 0, 0
while True :
  usr_num.clear()
  usr_fun()
  for i in range(3) :
    if com_num[i] == usr_num[i] :
      strike = strike + 1
    elif usr_num[i] in com_num :
      ball = ball + 1
  print(strike,"스트라이크", " : ", ball, "볼")
  if strike == 3 :
    print("축하해용")
    break
strike. ball = 0, 0

**야구 게임 **
3개의 숫자를 입력(1~9까지) ==> 1 2 3
0 스트라이크  :  0 볼
3개의 숫자를 입력(1~9까지) ==> 4 5 6
0 스트라이크  :  2 볼
3개의 숫자를 입력(1~9까지) ==> 7 8 9
0 스트라이크  :  3 볼
3개의 숫자를 입력(1~9까지) ==> 2 5 7
0 스트라이크  :  4 볼
3개의 숫자를 입력(1~9까지) ==> 3 5 1
0 스트라이크  :  5 볼