<a href="https://colab.research.google.com/github/jeongyeon8425/colab/blob/main/Lession6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

반복문

In [1]:
for i in range(3) :
  print("난생처음 파이썬은 재미있습니다^_^")

난새처음 파이썬은 재미있습니다^_^
난새처음 파이썬은 재미있습니다^_^
난새처음 파이썬은 재미있습니다^_^

In [2]:
myList = ["짜장면", "김밥", "라면"]
for i in myList :
  print(i)

짜장면
김밥
라면

In [5]:
for i in range(2, 8, 2):
  print(i)

2
4
6

In [ ]:
sum= 0
for i in range(1, 100, 2) :
  sum = sum + i

sum = 1-3+5-7+9 ..+99

In [6]:
flag = 1
sum = 0
for i in range(1, 100, 2):
  if flag == 1 :
    sum = sum + i
    flag = flag * - 1
  else:
    sum = sum - i
    flag = flag * - 1
print(sum)

-50

In [7]:
fact = 1 
friends_num = 5

for i in range(1, friends_num + 1, 1):
  fact = fact * i

print("A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 : ", fact)

A, B, C, D, E 학생들을 순서대로 세우는 경우의 수 :  120

합계 구하기

In [9]:
hap = 0

for i in range(1, 11, 1):
  hap = hap + i

print("1에서 10까지 합 : ", hap)

1에서 10까지 합 :  55

중첩 for문

In [11]:
for i in range(3) :
    for k in range(2) :
      print("난생처음은 쉽습니다.^^(1값 :", i,",k값:",k,")")

난생처음은 쉽습니다.^^(1값 : 0 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 0 ,k값: 1 )
난생처음은 쉽습니다.^^(1값 : 1 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 1 ,k값: 1 )
난생처음은 쉽습니다.^^(1값 : 2 ,k값: 0 )
난생처음은 쉽습니다.^^(1값 : 2 ,k값: 1 )

In [13]:
for i in range(2) :
  for k in range(3) :
    print("중첩 for문입니다")

중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다
중첩 for문입니다